* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body,html {
    background: linear-gradient(to bottom, #a2d4f2, #fbc2eb);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

header {
    position: sticky;
    top: 0;
    background-color:rgb(209, 112, 216);
    z-index: 1000;
}

.navbar {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

#logo-img {
    border-radius: 50%;
    height: 40px;
}

.logo-text {
    color: white;
    font-family: 'Comfortaa', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
}

.menu {
    display: flex;
    gap: 20px;
    list-style: none;
    flex-wrap: wrap;
}

.item a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    border-radius: 5px;
    padding: 8px 8px;
    transition: all 0.2s ease;
}

.item a:hover {
    background-color: white;
    color: blueviolet;
}

.firstpage ,.secondpage, .thirdpage, .aboutpage{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
}

.title {
    color: rgb(209, 112, 216);
    font-family: 'Cinzel Decorative', serif;
    font-size: 3.5rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 8px rgba(183, 11, 163, 0.5);
}

.dates {
    font-size: 2rem;
    margin-bottom: 40px;
    color: #8f14b5;
    font-weight: bold;
}

.content-box {
    position: relative;
    padding: 2rem;
    width: 90%;
    max-width: 800px;
    border-radius: 12px;
    color: white;
    font-size: 1rem;
    font-family: 'Gloria Hallelujah', cursive;
}
.content-box::before,
.content-box::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    background-image: url("images/star.png");
    background-size: contain;
}

.content-box::before {
    top: 10px;
    left: 10px;
}

.content-box::after {
    bottom: 10px;
    right: 10px;
}

.countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 8px 15px;
  border-radius: 10px;
  width: fit-content;
  color: #fff;
   box-shadow: 0 0 30px rgba(192, 85, 169, 0.1);
}
.time-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 700;
  font-size: 2.5rem;
  border-radius: 8px;
  min-width: 60px;
  justify-content: center;
}

.time-box p:last-child {
  margin-left: 8px;
  margin-bottom: 6px;
  font-size: 2.5rem;
  color: #ed9ee2;
  user-select: none;
}

.msg{
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 1.3rem;
    color: rgb(172, 79, 237);
}

.secondpage{
    padding-top: 100px;
}


.theme, .events, .aboutevent{
        color: rgb(209, 112, 216);
    font-family: 'Cinzel Decorative', serif;
    font-size: 3rem;
    margin-bottom: 10px;
    text-shadow: 2px 2px 8px rgba(183, 11, 163, 0.5);
}

.aboutevent{
    margin-bottom: 20px;
}

.message{
    font-family: 'Gloria Hallelujah', cursive;
    color: white;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

#image img{
    height:80%;
}

.events{
margin-bottom: 30px;
}

.container{
    display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  max-width: 100%;
  flex-wrap: wrap;
}

.left img, .right img{
  width:40px;
  border-radius: 50%;
  cursor: pointer;
}

.box-container{
    width: 490px;
    overflow:hidden;
}

.events-box{
    display:flex;
    gap:20px;
    
}


.box{
  flex: 0 0 150px;
  height: 200px;
  background: white;
  transition: transform 0.3s ease;
}
.box.event1{
    border: 2px solid black;
}
.box.event2{
    border: 2px solid red;
}
.box.event3{
    border: 2px solid blue;
}
.box.event4{
    border: 2px solid green;
}
.box.event5{
    border: 2px solid rgb(200, 231, 22);
}
.box.event6{
    border: 2px solid rgb(134, 219, 219);
}
.box.event7{
    border: 2px solid rgb(0, 0, 0);
}

